:root {
    --font-family: "Josefin Sans", sans-serif;
    --color-transparent: #00000000;
    --color-body-bg: #000;
    --color-text: white;
    --color-detail: #FF7300;
    --color-buy: #65a30d;
    --color-sell: #dc2626;
    --color-content-bg: linear-gradient(to bottom left, #A8541F, #91410E, #702A00, #511F00, #311300, #150800, #080300, #030100, #000, #000, #000, #010000, #150800, #311300, #511F00, #702A00, #91410E, #A8541F);
    --color-graph-bg: #1a1f24;
    --color-graph-border: #101518;
    --color-graph-title: #a6a6a6;
    --color-graph-time: #1a1f21;
    --color-graph-time-hover: #1e2227;
    --color-graph-time-active-bg: #1e2227;
    --color-overlay-bg: #00000043;
    --color-aside-bg: #000000a2;
    --transition-duration: 0.3s;
    --transition-duration-hover: 0.5s;
    --border-radius: 8px;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 2.5rem;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 24px;
    --font-size-xxlarge: 25px;
}

* {
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

body {
    background-image: var(--color-content-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    height: 100vh;
    width: 100%;
    display: flex;
}

.sidebar {
    background: var(--color-aside-bg);
    position: fixed;
    height: 100vh;
}

.sidebar__menu {
    margin-left: var(--spacing-large);
}

.sidebar__logo {
    margin-top: var(--spacing-large);
    width: 190px;
    height: auto;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: var(--spacing-medium);
    margin-top: 19px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    transition: background-color var(--transition-duration);
}

.menu-item__icon {
    height: var(--font-size-xxlarge);
    margin-right: var(--spacing-medium);
}

.menu-item__label {
    font-size: var(--font-size-medium);
}

.menu-item:hover {
    background-color: var(--color-detail);
}

.content {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column !important;
    padding: 120px 75px 30px 75px;
}

.content-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-empresa {
    height: 200px;
    border-radius: 50%;

}

.nome-empresa, .valor-acao {
    padding: 18px 0 18px 0;
    font-weight: bold;
    font-size: 50px;
    color: #a6a6a6;
}

.dados-empresa {
    padding-left: 35px;
}
.select-empresa {
    background-color: transparent;
    border: solid 2px #a6a6a6;
    color: #a6a6a6;
    font-size: 25px;
    font-weight: 700;
}
.info-empresa {
    display: flex;
    align-items: center;
}

.btn-investir.btn-primary {
    text-align: center;
    background-color: #000 !important;
    color: #91410E !important;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    width: 210px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s ease, color 0.3s ease;
    border-radius: 10px;
}

.btn-investir.btn-primary:hover {
    transform: scale(1.1);
    background-color: #150800 !important;
    color: #91410E !important;
}

.grafico-empresa {
    display: flex;
    justify-content: center;
}
.grafico-empresa h2{
    color: #fff;
}

.input-modal {
    display: flex;
    flex-direction: column;
}

.input-modal input {
    background-color: transparent;
    color: #cecbcb !important;
}

.btn.btn-primary {
    background-color: #A8541F !important;
    border: solid 1px #A8541F;
}

.btn.btn-primary:hover {
    border: none !important;
}

.modal-footer {
    justify-content: space-between !important;
}

.modal-content {
    background-color: #080300 !important;
    color: #A8541F;
}

@media (max-width: 1366px) {
    .sidebar__logo {
        width: 195px;
    }
    .content__user-icon {
        height: 25px;
    }
}